[submodule "packages/reflect-core"]
	path = packages/reflect-core
	url = https://github.com/reflect-ui/reflect-core-ts.git
[submodule "packages/base-sdk"]
	path = packages/base-sdk
	url = https://github.com/gridaco/base-sdk
