html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@font-face {
	font-family: "codicon";
	src: url('/fonts/codicon.ttf') format("truetype");
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
